<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webservicedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.webservicedemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.webservicedemo.JSonActivity"
            android:label="@string/title_activity_json" >
        </activity>
        <activity
            android:name="com.example.webservicedemo.GetAllProducts"
            android:label="@string/title_activity_get_all_products" >
        </activity>
        <activity
            android:name="com.example.webservicedemo.AddNew"
            android:label="@string/title_activity_add_new" >
        </activity>
        <activity
            android:name="com.example.webservicedemo.EditProduct"
            android:label="@string/title_activity_edit_product" >
        </activity>
    </application>

</manifest>
